<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :description, value: 'Descrição' %>
    <%= form.text_area :description, id: :ticket_description %>
  </div>

  <div class="form-group">
    <%= form.label :customer_id, value: 'Cliente' %>
    <%= form.collection_select :customer_id, Customer.all, :id, :name, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ticket_type_id, value: 'Tipo de ticket' %>
    <%= form.collection_select :ticket_type_id, TicketType.all, :id, :name, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ticket_recipient_id, value: 'Destinatario' %>
    <%= form.collection_select :ticket_recipient_id, User.all, :id, :email, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit 'Salvar', class: "btn btn-default"  %>
  </div>
<% end %>
