<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <h4>Tickets</h4>
      </div>
      <div align="right" class="col-md-9">
        <%= link_to "Novo ticket", new_ticket_path, class: "btn btn-default" %> 
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% @tickets.each do |ticket| %>
  <div class="col-md-3">
    <ul class="small list-group" >
      <li class="list-group-item" >
        <%= ticket_status(ticket) %> - 
        <%= ticket.ticket_type.name %><br>   
      </li>
      <li class="list-group-item">
        Cliente: <%= ticket.customer.name %><br>
        De: <%= ticket.creator.email %><br>
        Para: <%= ticket.recipient.email %>        
      </li>
      <li class="list-group-item">
        <%= link_to 'Ver', ticket, class: 'btn btn-info btn-xs' %>
        <%= link_to 'Editar', edit_ticket_path(ticket), class: 'btn btn-success btn-xs' %>
      </li>
    </ul>
  </div>
  <% end %>
</div>
