<p>
  <strong>Descricao:</strong>
  <%= simple_format(@ticket.description) %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @ticket.customer.name %>
</p>

<p>
  <strong>Tipo de ticket:</strong>
  <%= @ticket.ticket_type.name %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @ticket.user.email %>
</p>

<%= link_to 'Editar', edit_ticket_path(@ticket) %> |
<%= link_to 'voltar', tickets_path %>
